<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.commonutils.mapper.LogInfoMapper">

    <select id="selectLogList" resultType="com.example.commonutils.entity.LogInfo">
        select * from sys_log
        <where>
            <if test="module != null and module != ''">
                and module = #{module}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="userName != null and userName != ''">
                and user_name like concat('%' , #{userName} , '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != '' ">
                and create_time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != '' ">
                and create_time &lt;= #{params.endTime}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
